<h1><%= @event.name %></h1>

<h3><%= @event.location %></h3>
<p><%= @event.notes %></p>

<h2>Attendees</h2>
<ul>
<% @event.attendances.each do |attendance|%>
<li><%= attendance.user.email %></li>
<% end %>
<ul>
<%= link_to 'Back', events_path %>